{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>todo list</h1>
        <div class="second-block">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="task-input" placeholder="Enter your task" type="text">
                <input class="plus-btn" placeholder="Submit" type="submit">
            </form>  
            <!-- <input class="plus-btn" type="image" src="{% static 'images/Vector.png' %}" alt="">  -->
        </div>
        <div class="main">
            <div class="block">
                {% for data in dataset %}
                <div class="task">
                    <h2>{{ data.message }}</h1>
                </div>
                <button class="change-btn">Change</button>
                <button>Delete</button>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>